body {
  color: $text-color;
}

.nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(#d3d9df, 0.5);
  z-index: 123;
}

.section {
  display: flex;
  align-items: center;
  .fp-tableCell{
    height: auto !important;
  }
  &-1{background: #0c5460}
  &-2{background: #e0a800}
  &-3{background: #e4606d}
  &-4{background: #218838}
}